<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Django projekat{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'poruke/style.css' %}"/>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'poruke:index' %}">Home</a>
            </div>
            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="{% block poruke_active %}{% endblock %}">
                        <a href="{% url 'poruke:index' %}">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;
                            Poruke
                        </a>
                    </li>
                </ul>

                <div class="search">
                    <form class="navbar-form navbar-left" method="get" action="{% url 'poruke:search' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right">
                     <li class="">
                       <a href="{% url 'poruke:poruka-add' %}">
                           <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                           ADD PORUKA
                       </a>
                    </li>
                    <li class="{% block register_active %}{% endblock %}">
                       <a href="{% url 'poruke:register' %}">
                           <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                           Register
                       </a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>